{% extends 'back.html.twig' %}


{% block body %}
    <h1 style="text-align: center"> Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.type }}</td>
                <td>
                    <a href="{{ path('app_categorie_delete', {'id': categorie.id}) }}" class="btn btn-danger" style="width: 113px"  >Delete</a>
                    <a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}" class="btn btn-secondary">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
